body {
    background: #0d1117;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding-top: 80px;
}

.box {
    background: #161b22;
    padding: 30px;
    margin: auto;
    width: 300px;
    border-radius: 12px;
    border: 1px solid #30363d;
}

button {
    padding: 10px 18px;
    background: #238636;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background: #2ea043;
}
